body {
    text-align: center;
    min-width: 370px;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #EEE;
    color: #EEE;

    display: inline-block;
    padding: 40px;
    margin: 10px;

    font-size: 60px;
    text-align: center;
}

.square:hover, .button:hover {
    cursor: pointer;
    background-color: rgb(173, 173, 173);
    color: rgb(173, 173, 173);
}

.player, .winner {
    font-size: 30px;
    margin-top: 10px;
}

.button {
    margin-top: 5px;
    width: 100px;
    height: 30px;
    background-color: #EEE;
}